<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <title>공통 코드 추가</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<main layout:fragment="content">
    <form method="post" th:action="@{/cmmn/codeEdit}" th:object="${code}">
        <table class="code_add">
            <input type="hidden" name="cmmnCodeNo" th:value="*{cmmnCodeNo}">
            <tr>
                <th>공통 그룹 코드</th>
                <td>
                    <input type="text" name="cmmnGroupCode" th:value="*{cmmnGroupCode}" readonly>
                </td>
            </tr>
            <tr>
                <th>공통 코드</th>
                <td>
                    <input type="text" name="cmmnCode" th:value="*{cmmnCode}" readonly>
                </td>
            </tr>
            <tr>
                <th>공통 코드명</th>
                <td>
                    <input type="text" name="cmmnCodeNm" th:value="*{cmmnCodeNm}">
                    <div th:errors="*{cmmnCodeNm}"></div>
                </td>
            </tr>
            <tr>
                <th>정렬 순서</th>
                <td>
                    <input type="number" name="sort" th:value="*{sort}">
                </td>
            </tr>
            <tr>
                <th>사용 여부</th>
                <td>
                    <select name="useAt" th:value="*{useAt}">
                        <option th:selected="*{useAt}=='Y'">Y</option>
                        <option th:selected="*{useAt}=='N'">N</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>공통 코드설명</th>
                <td>
                    <textarea type="text" name="cmmnCodeDc" th:text="*{cmmnCodeDc}"></textarea>
                </td>
            </tr>
        </table>
        <div class="sort">
            <button type="submit">수정</button>
        </div>
    </form>
</main>
</html>