<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <title>공통 코드 목록</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<main layout:fragment="content">
    <form method="post" th:action="@{/cmmn/codeList}">
        <div class="sort2">
            <a class="btn2" href="#" th:href="@{/cmmn/codeAdd/{cmmnGroupCode}(cmmnGroupCode=${gr.cmmnGroupCode})}">등록</a>
        </div>
        <table class="code_list">
            <caption>공통 코드 목록</caption>
            <colgroup>
                <col width="5%">
                <col width="23%">
                <col width="23%">
                <col width="7%">
                <col width="10%">
            </colgroup>
            <thead>
            <tr class="th_header">
                <th scope="col">순번</th>
                <th scope="col">코드</th>
                <th scope="col">코드명</th>
                <th scope="col">사용여부</th>
                <th scope="col">관리</th>
            </tr>
            </thead>
            <tbody class="hover">
            <tr th:each="code : ${code}">
                <td th:text="${code.sort}"></td>
                <td th:text="${code.cmmnCode}"></td>
                <td th:text="${code.cmmnCodeNm}"></td>
                <td th:text="${code.useAt}"></td>
                <td>
                    <a class="btn2" href="#" th:href="@{/cmmn/codeEdit(cmmnCodeNo=${code.cmmnCodeNo})}">수정</a>
                    <a class="btn2" href="#" th:href="@{/cmmn/delete/{cmmnCodeNo}(cmmnCodeNo=${code.cmmnCodeNo})}">삭제</a>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</main>
</html>