<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <title>공통 코드 그룹 추가</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<main layout:fragment="content">
    <form method="post" th:action="@{/cmmn/groupCodeAdd}" th:object="${code}">
        <table class="code_add">
            <tr>
                <th>공통 그룹 코드</th>
                <td>
                    <input type="text" name="cmmnGroupCode">
                    <div th:errors="*{cmmnGroupCode}"></div>
                </td>
            </tr>
            <tr>
                <th>공통 그룹 코드명</th>
                <td>
                    <input type="text" name="cmmnGroupNm">
                    <div th:errors="*{cmmnGroupNm}"></div>
                </td>
            </tr>
            <tr>
                <th>사용 여부</th>
                <td>
                    <select name="useAt">
                        <option value="Y">Y</option>
                        <option value="N">N</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>공통 그룹 코드설명</th>
                <td>
                    <textarea type="text" name="cmmnGroupDc"></textarea>
                </td>
            </tr>
        </table>
        <div class="sort">
            <button type="submit">추가</button>
        </div>
    </form>
</main>
</html>