<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <header th:fragment="common">
        <section>
            <!-- <div> -->
            <a href="#">이미지</a>
            <nav>
                <ul>
                    <li>
                        <a href="#" th:href="@{/cmmn/groupCodeList}"><b>코드 관리</b></a>
                    </li>
                    <li>
                        <a href="#"><b>관리1</b></a>
                    </li>
                    <li>
                        <a href="#"><b>관리2</b></a>
                    </li>
                    <li>
                        <a href="#"><b>관리3</b></a>
                    </li>
                </ul>
            </nav>
            <!-- <div>
                <a href="#" class="btn">메인</a>
                <a href="#" class="btn">로그인</a>
            </div> -->
            <!-- </div> -->
        </section>
        <section>
            <a href="#" class="btn">로그인</a>
            <a href="#" class="btn">가입하기</a>
        </section>
    </header>
</html>